body {
    background-color: #efefef;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-text {
    font-size: 2.5em;
    font-weight: bold;
    color: #2d2d2d;
}

.guess-box {
    background-color: white;
    margin-top: 20px;
    width: 60em;
    padding: 20px;
    border-radius: 10px;
}

.tip-text {
    font-size: 1.2em;
    text-align: left;
}
